body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../joshua-peacock-144342-unsplash.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../../assets/aerial.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../architecture-1851149_1920.jpg");
  min-height: 400px;
}

.first {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.first span.first {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50pt;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
#myMap {
    
  width: 500px;
  height: 500px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
